@using System;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>These are all your items for your pack</title>
    
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <h1>These are all your items for your pack</h1>
  
    <ul>
        @if(Model.Items.Count == 0)
        {
            <p>You have no items in your pack add them <a href= "/pack/new">here</a></p>
            
        }
        else
        {
            @foreach(string item in Model.Items)
        {
            <li> @item </li>
      
        }
        
        <p>Add more items to your pack <a href= "/pack/new">here</a></p>
        <p>Check if you can go to this era</p>
        <div class="dropdown">
            <form action="/pack/checker" method="post">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dinosaur Eras
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
        <button type="submit"><span name="jurassic">Jurassic</span></button>
        <li><span name ="Cretaceous">Cretaceous</span></li>
        <li><span name= "Triassic">Triassic</span></li>
    </ul>
    </form>
    </div>
        }
        
    </ul>
</body>
</html>