<body>
    <form action = "/pack" method= "post"></form>
    <label for = "items">Add Items</label>
    <input class = "items" name = "item1" type= "text">
    <input class = "items" name = "item2" type= "text">
    <input class = "items" name = "item3" type= "text">
    <input class = "items" name = "item4" type= "text">
    <input class = "items" name = "item5" type= "text">
</body>