<html>
    <head>
        <link rel="stylesheet" href="~/css/styles.css">
        </head>
<body>
<img src="~/img/cretaceous.jpeg" id="jurassicpic"/>
<h1 class="Title"> Cretaceous TIME PERIOD </h1>
</body>
</html>