<html>
    <head>
        <link rel="stylesheet" href="~/css/styles.css">
        </head>
<body>
<img src="~/img/jurassic.jpg" id="jurassicpic"/>
<h1 class="Title"> JURASSIC TIME PERIOD </h1>
</body>
</html>